<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/580/250/nature/1">
      <div class="caption center-align">
        <h3>Crumbik</h3>
        <h5 class="light grey-text text-lighten-3">Que vaina tan jodia laboratorio 3</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2">
      <div class="caption left-align">
        <h3>Alineado a la izquierda</h3>
        <h5 class="light grey-text text-lighten-3">No queria nada este slider</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3">+
      <div class="caption right-align">
        <h3>Alineado a la derecha</h3>
        <h5 class="light grey-text text-lighten-3">Chivo tara e mierda</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4">
      <div class="caption center-align">
        <h3>Alineado al centro</h3>
        <h5 class="light grey-text text-lighten-3">do dohd doh doh dodo</h5>
      </div>
    </li>
  </ul>
</div> 